{% extends 'pages/index.html' %}


{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{message}}
			</div>
		{% endfor %}
	{% endif %}

	<div class = "container">
		<div class = "row">
			<div class = "col-lg-9" style = "font-family: 'Montserrat', sans-serif;">
				<h1>Transplant Prediction</h1>
			</div>
			<div class = "col-lg-3">
				<div class="button">
					<div class="wrap">
						<a href="{% url 'death' %}">
							<div class="first">Death Prediction</div>
							<div class="second">go</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "gap">
	</div>
    <hr>
	<div class = "gap">
	</div>

<style>
	.check {
		/**position: absolute;**/
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 50px;
		width: 200px;
		margin: auto;
	}
	*[data-animation="ripple"] {
		/* height: 100%; */
		width: 100%;
		display: block;
		outline: none;
		padding: 20px;
		color: #fff;
		text-transform: uppercase;
		background: linear-gradient(135deg, #343a40 0%,#343a40 100%);
		box-sizing: border-box;
		text-align: center;
		line-height: 14px;
		font-family: roboto, helvetica;
		font-weight: 200;
		letter-spacing: 1px;
		text-decoration: none;
		box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
		cursor: pointer;
	  /*border-radius: 50px;*/
		-webkit-tap-highlight-color: transparent;
		border-radius: 5px;
	}

	*[data-animation="ripple"]:focus {
		outline: none;
	}

	*[data-animation="ripple"]::selection {
		background: transparent;
		pointer-events: none;
	}
</style>
<style>
	@media (max-width: 1000px) {
		label{
			font-size:20px;
		}
	}
	@media (min-width: 1500px) {
		label{
			font-size:23px;
		}
	}
</style>

	<div class="covering">
	  <div class="container-fluid table-class">
	    <div class="black " >
	      <div class="inner cover">
	        <div>
	          <div class="questionaire">
				<!-- <form method='POST'>
					<ul class="progress-form form-group animated fadeInRightBig  activate">
					{% csrf_token %}
					<center>{{ form.as_table }}</center>
					</ul>
					<center><br><button class = "done" type = "submit">Check</button><br><br><br></center>
				</form> -->
			  <form method="post" novalidate>
			  {% csrf_token %}

			  {% if form.non_field_errors %}
			    <ul class = "progress-form form-group animated fadeInRightBig  activate">
			      {% for error in form.non_field_errors %}
			        <li>{{ error }}</li>
			      {% endfor %}
			    </ul>
			  {% endif %}

			  {% for hidden_field in form.hidden_fields %}
			    {% if hidden_field.errors %}
			      <ul class = "progress-form form-group animated fadeInRightBig  activate">
			        {% for error in hidden_field.errors %}
			          <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
			        {% endfor %}
			      </ul>
			    {% endif %}
			    {{ hidden_field }}
			  {% endfor %}

			  <!-- <table border="0">
			    {% for field in form.visible_fields %}
			      <tr>
			        <td style = "font-size:25px">{{ field.label_tag }}</td>
			        <td>
			          {% if field.errors %}
			            <ul class = "progress-form form-group animated fadeInRightBig  activate">
			              {% for error in field.errors %}
			                <li>{{ error }}</li>
			              {% endfor %}
			            </ul>
			          {% endif %}
					  <ul class = "progress-form form-group animated fadeInRightBig  activate" style = "min-height:100px !important;">
						  <li>{{ field }}</li>
					  </ul>

			          {% if field.help_text %}
			            <br />{{ field.help_text }}
			          {% endif %}
			        </td>
			      </tr>
			    {% endfor %}
			  </table> -->

			  <div class = "container">
			     <div class = "row">
					  {% for field in form.visible_fields %}
					  <div class = "col-lg-1">
					  </div>
					  <div  class = "col-lg-5" style = "border-radius:5px;margin-top:30px;padding-left:30px;padding-right:30px;padding-top:30px;background-color:#efefef;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
				        <div class = "container">
							<div class = "row">
								<!-- <div class = "col-lg-1">
								</div> -->
								<div class = "col-lg-5" style = "font-size:1.6vw">{{ field.label_tag }}</div>

							    <div class = "col-lg-5">
							          {% if field.errors %}
							            <ul class = "progress-form form-group animated fadeInRightBig  activate">
							              {% for error in field.errors %}
							                <li>{{ error }}</li>
							              {% endfor %}
							            </ul>
							          {% endif %}
									  <ul class = "progress-form form-group animated fadeInRightBig  activate" style = "min-height:100px !important;">
										  <li>{{ field }}</li>
									  </ul>


							    </div>
								<div class = "col-lg-2" style = "font-size:20px;padding-top:28px">
									{% if field.help_text %}
									  {{ field.help_text }}
									{% endif %}
								</div>
							</div>
						</div>
					  </div>
				      {% endfor %}
				</div>
			  </div>

			  <center><br><div class="check">
			  	<button data-animation="ripple" style = "height:60px;padding:0px"><a data-animation="ripple" style = "color:#fff">Check<span style="font-weight: bold;"><!--Me--></span></a></button>
			  </div><br><br><br></center>
			  </form>
	          </div>
	        </div>
	        <div class="clearfix"></div>
	      </div>
	    </div>
	  </div>
	</div>


	<!-- <form method='POST'>
		{% csrf_token %}
		{{ form.as_p }}
		<button type = "submit">Login</button>
	</form> -->

{% endblock content %}
